QfbServer/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TQCService" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="sourceType" type="q1:SourceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="GetSettingsResult" nillable="true" type="q2:ArrayOfProjectPointSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointIdsByProjectAndPointNO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="sourceType" type="q3:SourceType" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="kvp" nillable="true" type="q4:ArrayOfKeyValuePairOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPointIdsByProjectAndPointNOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPointIdsByProjectAndPointNOResult" nillable="true" type="q5:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualifiedRateByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="sourceType" type="q6:SourceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualifiedRateByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="GetQualifiedRateByDateResult" nillable="true" type="q7:ArrayOfQualifiedRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualifiedRateByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="sourceType" type="q8:SourceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualifiedRateByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="GetQualifiedRateByTimeResult" nillable="true" type="q9:ArrayOfQualifiedRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualifiedRateByTimeWithPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="sourceType" type="q10:SourceType" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualifiedRateByTimeWithPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="GetQualifiedRateByTimeWithPageResult" nillable="true" type="q11:ArrayOfQualifiedRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualifiedRateByTimeAndNOs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="projcetNO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partsNO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemNO" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="sourceType" type="q12:SourceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualifiedRateByTimeAndNOsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="GetQualifiedRateByTimeAndNOsResult" nillable="true" type="q13:ArrayOfQualifiedRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualifiedRateByTimeAndNOsWithPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="projcetNO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partsNO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemNO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="sourceType" type="q14:SourceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualifiedRateByTimeAndNOsWithPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="GetQualifiedRateByTimeAndNOsWithPageResult" nillable="true" type="q15:ArrayOfQualifiedRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualifiedRateByTimeAndProjrct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualifiedRateByTimeAndProjrctResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="GetQualifiedRateByTimeAndProjrctResult" nillable="true" type="q16:ArrayOfQualifiedRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPKDataByTimeAndPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pointIds" nillable="true" type="q17:ArrayOfint" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="sourceType" type="q18:SourceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPKDataByTimeAndPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="GetCPKDataByTimeAndPointsResult" nillable="true" type="q19:ArrayOfCPKList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryDataByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pointId" type="xs:long" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryDataByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="GetHistoryDataByDateResult" nillable="true" type="q20:ArrayOfHistoryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryDataByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pointId" type="xs:long" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryDataByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="GetHistoryDataByTimeResult" nillable="true" type="q21:ArrayOfHistoryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryDataByTimeAndPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pointIds" nillable="true" type="q22:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryDataByTimeAndPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetHistoryDataByTimeAndPointsResult" nillable="true" type="q23:ArrayOfKeyValueOfstringArrayOfDateTimeValuefERbGEio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartStatic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="sourceType" type="q24:SourceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartStaticResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChartValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="sourceType" type="q25:SourceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChartValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="GetChartValueResult" nillable="true" type="q26:ArrayOfDateTimeValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDelayWarning">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDelayWarningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="GetDelayWarningResult" nillable="true" type="q27:ArrayOfDelayWarnning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDelayWarningByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDelayWarningByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="GetDelayWarningByTimeResult" nillable="true" type="q28:ArrayOfDelayWarnning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValueWarningByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValueWarningByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="GetValueWarningByTimeResult" nillable="true" type="q29:ArrayOfValueWarnning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValueWarningByTimeWithWarning">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValueWarningByTimeWithWarningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="GetValueWarningByTimeWithWarningResult" nillable="true" type="q30:ArrayOfValueWarnning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValueWarningByTimeWithWarningAndNO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="projectNO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partsNO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemNO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValueWarningByTimeWithWarningAndNOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="GetValueWarningByTimeWithWarningAndNOResult" nillable="true" type="q31:ArrayOfValueWarnning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrendWarningByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrendWarningByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="GetTrendWarningByTimeResult" nillable="true" type="q32:ArrayOfTrendWarning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualifiedRateWarningByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualifiedRateWarningByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="GetQualifiedRateWarningByTimeResult" nillable="true" type="q33:ArrayOfQualifiedRateWarning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualifiedRateWarningByTimeAndRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="rate" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQualifiedRateWarningByTimeAndRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/TQCService" minOccurs="0" name="GetQualifiedRateWarningByTimeAndRateResult" nillable="true" type="q34:ArrayOfQualifiedRateWarning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>